In [20]:
import matplotlib.pyplot as plt
import polars as pl
import numpy as np

DATA_PATH = "./data/expense_data_1.csv"

# Data Schema

|Spent cost|Category|Date|
|---|---|---|
|uint64|string|Datetime|

In [14]:
data = pl.read_csv(DATA_PATH, has_header=True)
data = data.drop(["Account", "Subcategory", "Note", "Note_duplicated_0", "Account_duplicated_0", "Currency"])
data.head()

shape: (5, 5)
┌────────────────┬────────────────┬───────┬────────────────┬────────┐
│ Date           ┆ Category       ┆ INR   ┆ Income/Expense ┆ Amount │
│ ---            ┆ ---            ┆ ---   ┆ ---            ┆ ---    │
│ str            ┆ str            ┆ f64   ┆ str            ┆ f64    │
╞════════════════╪════════════════╪═══════╪════════════════╪════════╡
│ 3/2/2022 10:11 ┆ Food           ┆ 50.0  ┆ Expense        ┆ 50.0   │
│ 3/2/2022 10:11 ┆ Other          ┆ 300.0 ┆ Expense        ┆ 300.0  │
│ 3/1/2022 19:50 ┆ Food           ┆ 78.0  ┆ Expense        ┆ 78.0   │
│ 3/1/2022 18:56 ┆ Transportation ┆ 30.0  ┆ Expense        ┆ 30.0   │
│ 3/1/2022 18:22 ┆ Food           ┆ 67.0  ┆ Expense        ┆ 67.0   │
└────────────────┴────────────────┴───────┴────────────────┴────────┘

In [15]:
dates = data['Date'].to_list()
dates = pl.Series([date.split(' ')[0] for date in dates])
data.replace("Date", dates)

data.head()

shape: (5, 5)
┌──────────┬────────────────┬───────┬────────────────┬────────┐
│ Date     ┆ Category       ┆ INR   ┆ Income/Expense ┆ Amount │
│ ---      ┆ ---            ┆ ---   ┆ ---            ┆ ---    │
│ str      ┆ str            ┆ f64   ┆ str            ┆ f64    │
╞══════════╪════════════════╪═══════╪════════════════╪════════╡
│ 3/2/2022 ┆ Food           ┆ 50.0  ┆ Expense        ┆ 50.0   │
│ 3/2/2022 ┆ Other          ┆ 300.0 ┆ Expense        ┆ 300.0  │
│ 3/1/2022 ┆ Food           ┆ 78.0  ┆ Expense        ┆ 78.0   │
│ 3/1/2022 ┆ Transportation ┆ 30.0  ┆ Expense        ┆ 30.0   │
│ 3/1/2022 ┆ Food           ┆ 67.0  ┆ Expense        ┆ 67.0   │
└──────────┴────────────────┴───────┴────────────────┴────────┘

In [17]:
data = data.filter(
    (data['Income/Expense'] == 'Expense'),
)
data.head()

shape: (5, 5)
┌──────────┬────────────────┬───────┬────────────────┬────────┐
│ Date     ┆ Category       ┆ INR   ┆ Income/Expense ┆ Amount │
│ ---      ┆ ---            ┆ ---   ┆ ---            ┆ ---    │
│ str      ┆ str            ┆ f64   ┆ str            ┆ f64    │
╞══════════╪════════════════╪═══════╪════════════════╪════════╡
│ 3/2/2022 ┆ Food           ┆ 50.0  ┆ Expense        ┆ 50.0   │
│ 3/2/2022 ┆ Other          ┆ 300.0 ┆ Expense        ┆ 300.0  │
│ 3/1/2022 ┆ Food           ┆ 78.0  ┆ Expense        ┆ 78.0   │
│ 3/1/2022 ┆ Transportation ┆ 30.0  ┆ Expense        ┆ 30.0   │
│ 3/1/2022 ┆ Food           ┆ 67.0  ┆ Expense        ┆ 67.0   │
└──────────┴────────────────┴───────┴────────────────┴────────┘

In [18]:
data.describe()

shape: (9, 6)
┌────────────┬──────────┬────────────────┬────────────┬────────────────┬────────────┐
│ describe   ┆ Date     ┆ Category       ┆ INR        ┆ Income/Expense ┆ Amount     │
│ ---        ┆ ---      ┆ ---            ┆ ---        ┆ ---            ┆ ---        │
│ str        ┆ str      ┆ str            ┆ f64        ┆ str            ┆ f64        │
╞════════════╪══════════╪════════════════╪════════════╪════════════════╪════════════╡
│ count      ┆ 231      ┆ 231            ┆ 231.0      ┆ 231            ┆ 231.0      │
│ null_count ┆ 0        ┆ 0              ┆ 0.0        ┆ 0              ┆ 0.0        │
│ mean       ┆ null     ┆ null           ┆ 255.515152 ┆ null           ┆ 250.728485 │
│ std        ┆ null     ┆ null           ┆ 529.46429  ┆ null           ┆ 526.598747 │
│ min        ┆ 1/1/2022 ┆ Apparel        ┆ 8.0        ┆ Expense        ┆ 8.0        │
│ max        ┆ 3/2/2022 ┆ Transportation ┆ 4800.0     ┆ Expense        ┆ 4800.0     │
│ median     ┆ null     ┆ null           ┆ 107.0      ┆ null           ┆ 106.0      │
│ 25%        ┆ null     ┆ null           ┆ 43.0       ┆ null           ┆ 43.0       │
│ 75%        ┆ null     ┆ null           ┆ 259.0      ┆ null           ┆ 250.0      │
└────────────┴──────────┴────────────────┴────────────┴────────────────┴────────────┘

In [19]:
spend_date = data['Date'].to_list()
spend_category = data['Category'].to_list()
spend_money = data['INR'].to_list()

# Analysis Result

In [60]:
data.groupby('Category').sum()[['Category', 'Amount']]

shape: (10, 2)
┌──────────────────┬──────────┐
│ Category         ┆ Amount   │
│ ---              ┆ ---      │
│ str              ┆ f64      │
╞══════════════════╪══════════╡
│ Household        ┆ 12188.0  │
│ Apparel          ┆ 3388.0   │
│ Other            ┆ 5117.0   │
│ Self-development ┆ 400.0    │
│ …                ┆ …        │
│ Food             ┆ 23396.76 │
│ Transportation   ┆ 9203.8   │
│ Social Life      ┆ 2513.72  │
│ Beauty           ┆ 196.0    │
└──────────────────┴──────────┘

In [63]:
data.groupby('Date').sum()[['Date', 'Amount']]

shape: (86, 2)
┌────────────┬────────┐
│ Date       ┆ Amount │
│ ---        ┆ ---    │
│ str        ┆ f64    │
╞════════════╪════════╡
│ 3/1/2022   ┆ 175.0  │
│ 2/13/2022  ┆ 100.0  │
│ 1/28/2022  ┆ 148.0  │
│ 1/21/2022  ┆ 225.0  │
│ …          ┆ …      │
│ 12/17/2021 ┆ 230.0  │
│ 12/16/2021 ┆ 190.0  │
│ 12/6/2021  ┆ 815.0  │
│ 11/28/2021 ┆ 363.4  │
└────────────┴────────┘

In [36]:
date_df = data.pivot(
    index='Date',
    columns=['Income/Expense'],
    values='INR',
    aggregate_function='sum'
).sort('Expense', descending=True)

date_df

shape: (86, 2)
┌────────────┬─────────┐
│ Date       ┆ Expense │
│ ---        ┆ ---     │
│ str        ┆ f64     │
╞════════════╪═════════╡
│ 12/5/2021  ┆ 6625.0  │
│ 1/8/2022   ┆ 5115.3  │
│ 2/19/2022  ┆ 2896.0  │
│ 2/6/2022   ┆ 2775.0  │
│ …          ┆ …       │
│ 2/25/2022  ┆ 33.0    │
│ 12/12/2021 ┆ 25.0    │
│ 1/7/2022   ┆ 15.0    │
│ 12/28/2021 ┆ 14.0    │
└────────────┴─────────┘

In [35]:
total_spent = data['INR'].sum()
print('Total Spent: ', total_spent)

Total Spent:  59024.0

In [56]:
most_spent_date = date_df[0, :]
print('Most spent date: ', most_spent_date['Date'][0], ', with a total of $', most_spent_date['Expense'][0])

Most spent date:  12/5/2021 , with a total of $ 6625.0

# Objective

In [61]:
class BudgeAnaylsis:
    def __init__(self):
        pass

    def __call__(self, data):
        money_total = self.__spend_money_total(data)
        money_by_category = self.__spend_money_by_category(data)
        money_by_month = self.__spend_money_by_month(data)
        money_by_month_category = self.__spend_money_by_month_category(data)

        return {
            'money_total': money_total,
            'money_by_category': money_by_category,
            'money_by_month': money_by_month,
            'money_by_month_category': money_by_month_category
        }

    def __spend_money_total(self, data):
        return data['amount'].sum()

    def __spend_money_by_category(self, data):
        return data.groupby('category').sum()[['Category', 'amount']]

    def __spend_money_by_month(self, data):
        return data.groupby('month').sum()[['month', 'amount']]

    def __spend_money_by_month_category(self, data):
        return data.groupby(['month', 'category']).sum()[['month', 'category', 'amount']]